:root {
  --azul: #102f5e;
}

.container {
  background-image: url(./img/bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container h1 {
  padding: 20px;
  color: var(--azul);
  text-align: center;
  font-size: 35px;
  border-bottom: 1px solid #333;
}

.container-secundario {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 700px;
  width: 600px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0.5rem;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #102f5e;
  border: 2px solid white;
  color: white;
}

button:hover > i {
  color: #fff;
}

button i {
  pointer-events: none;
  color: #102f5e;
  font-weight: bold;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* tarefa */

.container .container-secundario .tarefa .tarefa-add{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
}

.container .container-secundario .tarefa input{
    border: 1px solid #333;
    height: 40px;
    width: 250px;
    font-size: 20px;
}

.container .container-secundario .tarefa h2{
  margin-top: 10px;
}

/* pesquisa */
.container .container-secundario .pesquisa-filtro{
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.container .container-secundario .pesquisa-filtro .pesquisa-add{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
}

.container .container-secundario .pesquisa-filtro .pesquisa-add input{
    border: 1px solid #333;
    height: 40px;
    width: 250px;
    font-size: 20px;
}

/* filtro */

.container .container-secundario .pesquisa-filtro .filtro-add {
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1px solid #333;
    margin-top: 10px;
}
.container .container-secundario .pesquisa-filtro .filtro{
    border-bottom: 1px solid #333;
}


.container .container-secundario .pesquisa-filtro .filtro-add select{
    font-size: 15px;
    margin-top: 5px;
}

/*  todo list / todo */

.container .container-secundario .todo-list{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 55%;
    gap: 5px;
}

.container .container-secundario .todo-list .todo{
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
    color: white;
    padding: 10px;
}

.container .container-secundario .todo-list .todo .buttons{
    display: flex;
    gap: 10px;
}

.container .container-secundario .todo-list .todo .finish{
  font-style: italic;
  text-decoration: line-through;
  text-decoration-color: red;
  background-color: #658bc5;
}

/* hidden edit */

.edit-hidden{
  display: none;
}

.hide-on{
  display: flex;
}

.container .container-secundario .hide{
  display: none;
}

.container .container-secundario .hide-on{
  display: flex;
  flex-direction: column;
}

.container .container-secundario .hide .form-control{
  display: flex;
  margin-top: 5px;
  gap: 5px;
}

.container .container-secundario .hide h2 {
  margin-top: 10px;
}

.container .container-secundario .hide input{
  border: 1px solid #333;
  height: 40px;
  width: 250px;
  font-size: 20px;
}