@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.infos-container {
  display: flex;
  box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  position: absolute;
  width: 800px;
  height: 118px;
  top: 56rem;
  left: 29%;
  gap: 2rem;
  margin: auto;
}

.infos-container .box {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 220px;
}

.infos-container .box:nth-child(2){
    border-left: .1rem solid rgba(73, 46, 21, 0.15);
    border-right: .1rem solid rgba(73, 46, 21, 0.15);
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
}

.infos-container .box .image {
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: #fae2cb;
  border-radius: 50%;
  align-items: center;
  padding: 10px;
}

.infos-container .box .image img {
  width: 100%;
  height: 100%;
}

.infos-container .box .infos-box{
    width: 150px;
}

.infos-container .box .infos-box h1 {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  text-transform: uppercase;
  color: rgba(29, 6, 5, 0.9);
}

.infos-container .box .infos-box p {
  font-family: "Lato";
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  color: rgba(29, 6, 5, 0.69);
  opacity: 0.8;
}


@media (max-width: 1500px) {
  .infos-container{
    left: 23%;
  }
}

@media (max-width: 1300px) {
  .infos-container{
    left: 20%;
  }
}

@media (max-width: 1200px) {
  .infos-container{
    left: 16%;
  }
}

@media (max-width: 1150px) {
  .infos-container{
    left: 14%;
  }
}

/* aparece bars */
@media (max-width: 1050px) {
  .infos-container{
    left: 10%;
  }
}

@media (max-width: 920px) {
  .infos-container{
    flex-direction: column;
    width: 270px;
    height: 300px;
    gap: 3rem;
    left: 35%;
    top: 80rem;
  }

  .infos-container .box{
    margin: auto;
  }

  .infos-container .box:nth-child(2){
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    width: 220px;
}
}

@media (max-width: 700px) {
  .infos-container{
    left: 29%;
  }
}

@media (max-width: 550px) {
  .infos-container{
    left: 24%;
  }
}